# Lista II - Exercícios da Lista I

In [1]:
import matplotlib.pyplot as plt

import pandas as pd

## Questão 01

In [2]:
# Importando dataset da Tabela 1.1: Informações de questionário estudantil -- dados brutos
dataset = pd.read_csv('data/tabela1_1.csv', encoding = 'latin1')

dataset.head(5)

,Id,Turma,Sexo,Idade,Alt,Peso,Filhos,Fuma,Toler,Exerc,Cine,OpCine,TV,OpTV
0,1,A,F,17,"1,60","60,5",2,NAO,P,0,1,B,16,R
1,2,A,F,18,"1,69","55,0",1,NAO,M,0,1,B,7,R
2,3,A,M,18,"1,85","72,8",2,NAO,P,5,2,M,15,R
3,4,A,M,25,"1,85","80,9",2,NAO,P,5,2,B,20,R
4,5,A,F,19,"1,58","55,0",1,NAO,M,2,2,B,5,R